// Footer
footer {
    margin-bottom: 2em;
    ul {
        list-style-type: none;
        margin: 2em 0;
        padding: 0;
    }
}

@include breakpoint(m) {
    footer {
        ul {
            margin: 0;
            li {
                display: inline;
                padding: 0 1em 0 0;
            }
        }
    }
}