// Header
#logo {
    margin-top: 2em;
    margin-bottom: 2em;
    svg {
        transition: all .3s;
        max-width: 200px;
        fill: #fff;
        .primary-logo-color {
            fill: #fff;
        }
    }
    svg:hover {
        fill: #000;
        .primary-logo-color {
            fill: #003399;
        }
    }
}