// ==========================================================================
// Website or App Stylesheet
// ==========================================================================
// Variables and Colours
@import "styles/variables-colors";

// Import Base & Modules
@import "~@getbase/animations/scss/index";
@import "~@getbase/base/scss/index";
@import "~@getbase/buttons/scss/index";
@import "~@getbase/containers/scss/index";
@import "~@getbase/forms/scss/index";
@import "~@getbase/grid/scss/index";
// @import "~@getbase/micro-grid/scss/index";
@import "~@getbase/tables/scss/index";
@import "~@getbase/typography/scss/index";

// Overall Styles
@import "styles/header";
@import "styles/footer";

// Base Typography and Layout Helpers
@import "~@getbase/typography-helpers/scss/index";
@import "~@getbase/layout-helpers/scss/index";
@import "~@getbase/layout-spacers/scss/index";

body {
    letter-spacing: 0.2rem;
    overflow-x:hidden;
}

html { 
	background-image: url('../img/copyright_philippbruhin.jpg');
	background-repeat: no-repeat;
	position: center center;
	background-position: fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

::selection {
    background: #fff;
    color: #003399;
}

::-moz-selection  {
    background: #fff;
    color: #003399;   
}

#particles-js {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0; 
}

#wrapper {
    position: relative;    
}

main {
    p.inline-text {
        background-color:#fff;
        display: inline;
    }
    h3 {
        margin-top: 2em;
    }
}

.container, .container-l, .container-m {
    margin-left: 0;
    margin-right: 0;
}

// Typography
body {
	font-size: $base-font-size*0.8;
	line-height: $base-line-height*0.8;
}

h1, .fs-1 {
	font-size: $base-h1-font-size*0.7;
	line-height: $base-h1-line-height*0.7;
}
h2, .fs-2 {
	font-size: $base-h2-font-size*0.7;
	line-height: $base-h2-line-height*0.7;
}
h3, .fs-3 {
	font-size: $base-h3-font-size*0.7;
	line-height: $base-h3-line-height*0.7;
}
h4, .fs-4 {
	font-size: $base-h4-font-size*0.7;
	line-height: $base-h4-line-height*0.7;
}
h5, .fs-5 {
	font-size: $base-h5-font-size*0.7;
	line-height: $base-h5-line-height*0.7;
}
h6, .fs-6 {
	font-size: $base-h6-font-size*0.7;
	line-height: $base-h6-line-height*0.7;
}

@include breakpoint(m) {
	body {
		font-size: $base-font-size;
		line-height: $base-line-height;
	}

	h1, .fs-1 {
		font-size: $base-h1-font-size;
		line-height: $base-h1-line-height;
	}
	h2, .fs-2 {
		font-size: $base-h2-font-size;
		line-height: $base-h2-line-height;
	}
	h3, .fs-3 {
		font-size: $base-h3-font-size;
		line-height: $base-h3-line-height;
	}
	h4, .fs-4 {
		font-size: $base-h4-font-size;
		line-height: $base-h4-line-height;
	}
	h5, .fs-5 {
		font-size: $base-h5-font-size;
		line-height: $base-h5-line-height;
	}
	h6, .fs-6 {
		font-size: $base-h6-font-size;
		line-height: $base-h6-line-height;
	}
}